---
layout: default
type: home
title: I'm Alan
image:http://www.alangewerc.com/assets/images/author-image.jpg
---

<head>
<meta name="image" property="og:image" content="http://www.alangewerc.com/assets/images/author-image.jpg">
</head>


<!--
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->

<p>
  I am a Master of Data Science student at Monash University in my last year, 
  passionate about analytics and business transformation. I have been studying 
  intensively for the past four years to become a Data Scientist, and I am always 
  eager to learn more.
</p>

<p>
  I am currently developing a master thesis under the supervision of <a href="https://research.monash.edu/en/persons/christoph-bergmeir">Dr Christoph Bergmeir</a>. 
  The project is co-supervised by researchers from the <a href="https://www.orygen.org.au/">Orygen Institute</a>. 
  Our purpose is to make use of Recurrent Neural Networks to forecast missing 
  values in Medical time-series datasets. 
 </p>
 
 <p>
  I have a second background in Business and Economics, and I have interned in 
  Financial Markets firms and worked as a Treasury Financial Analyst in the largest 
  Brazilian retail company. My goal as a professional is to make use of the range of 
  skills developed in my career and education to help companies transition to the new economy. 
  </p>
  
  <p>
  In my free time, I like to be in Nature, study <a href="https://logosophy.info/en/">Logosophy</a> and practice sports. 
  Nothing makes me happier than a good swim in a beautiful waterfall. 
  I am also very much interested in politics in general and spend a lot of time wondering how humanity 
  will look like 50 years from now (I hope much better). 
 </p>

<h2> Skills </h2>
<center><img src="/assets/images/wordcloud3.gif" alt="drawing" height="500" width="750"></center>

<p>
  I have decided to start a blog to share my journey and knowledge under development. 
  I will write mainly about data science, but when I see content worth sharing I will also do it over here. 
</p>

{% include blogs.html %}

<p>
  I hope you like reading my articles and feel free to leave comments with constructive criticism. 
</p>

{% include projects.html %}

<p>
  Thank you for visiting my website. Have a great day!
  
  
</p>
