---	
layout: default
type: home
title: I'm Alan
---

<!--
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->

<p>

  Hi! Thank you for visiting my website. 
  I am a Master of Data Science (Monash University) passionate about analytics 
  and business transformation. 
</p>


<h2> Skills </h2>
<center><img src="/assets/images/wordcloud3.gif" alt="drawing" height="500" width="750"></center>

<p>
  I have decided to start a blog to share my journey and knowledge under development. 
  I will write mainly about data science, but when I see content worth sharing I will also do it over here. 
</p>

{% include visualisations.html %}


{% include blogs.html %}

<p>
  I hope you like reading my articles and feel free to leave comments with constructive criticism. 
</p>

{% include projects.html %}

<p>
  Thank you for visiting my website. Have a great day!
  
  
</p>
