<div>
<head>
    <style type="text/css">
        .tagBall{width:1900;height:300px;margin:100px auto;position:relative;}
        .tag{display:block;position:absolute;left:110px;top:0px;color:#000;text-decoration:none;font-size:200px;font-weight:bold;}
        .tag:hover{border:0px solid #676;}
    </style>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/cloudTag.js"></script>
    <title></title>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.tagBall').cloudTag({ballSize:250});
        });
    </script>
</head>
<div class="jquery-script-ads"><script type="text/javascript"><!--
google_ad_client = "ca-pub-2783044520727903";
/* jQuery_demo */
google_ad_slot = "2780937993";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>
<div class="jquery-script-clear"></div>
</div>
</div>
<div class="tagBall">
    <a class="tag" target="_blank" href="#">Data Science</a>
    <a class="tag" target="_blank" href="#">Machine learning</a>
    <a class="tag" target="_blank" href="#">Pyspark</a>
    <a class="tag" target="_blank" href="#">Python</a>
    <a class="tag" target="_blank" href="#">Pytorch</a>
    <a class="tag" target="_blank" href="#">Deep Learning</a>
    <a class="tag" target="_blank" href="#">Data Analysis</a>
    <a class="tag" target="_blank" href="#">Data Visualisation</a>
    <a class="tag" target="_blank" href="#">Valuation</a>
    <a class="tag" target="_blank" href="#">Financial Modelling</a>
    <a class="tag" target="_blank" href="#">R</a>
    <a class="tag" target="_blank" href="#">ggplot</a>
	<a class="tag" target="_blank" href="#">SQL</a>
    <a class="tag" target="_blank" href="#">Powerpoint</a>
    <a class="tag" target="_blank" href="#">Business Strategy</a>
    <a class="tag" target="_blank" href="#">Excel</a>
    <a class="tag" target="_blank" href="#">NLTK</a>
	<a class="tag" target="_blank" href="#">Analytics</a>
    <a class="tag" target="_blank" href="#">Finance</a>
    <a class="tag" target="_blank" href="#">Neural Networks</a>
    <a class="tag" target="_blank" href="#">Pandas</a>
    <a class="tag" target="_blank" href="#">Sklearn</a>
	<a class="tag" target="_blank" href="#">Statistics</a>
	<a class="tag" target="_blank" href="#">NLP</a>
	<a class="tag" target="_blank" href="#">Wrangling</a>
	<a class="tag" target="_blank" href="#">Matplotlib</a>
	<a class="tag" target="_blank" href="#">Regex</a>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
