<div>
<h2>My Expertise test2:</h2>
    <style type="text/css">
        .tagBall{width:400px;height:400px;margin:0px auto;position: relative}
        .tag{display:block;position:absolute;left:0px;top:0px;color:#000;text-decoration:none;font-size:25px;font-weight:bold;}
    </style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/cloudTag.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.tagBall').cloudTag({ballSize:150});
        });
    </script>
<div id="jquery-script-menu">
<div class="jquery-script-center">
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>
<div class="jquery-script-clear"></div>
</div>
</div>
<div class="tagBall">
    <a class="tag" target="_blank">Data Science</a>
    <a class="tag" target="_blank">Machine Learning</a>
    <a class="tag" target="_blank">Deep Learning</a>
    <a class="tag" target="_blank">Pytorch</a>
    <a class="tag" target="_blank">Python</a>
    <a class="tag" target="_blank">R</a>
    <a class="tag" target="_blank">Data Visualisation</a>
    <a class="tag" target="_blank">Financial Modelling</a>
    <a class="tag" target="_blank">Excel</a>
    <a class="tag" target="_blank">Sklearn</a>
    <a class="tag" target="_blank">Powerpoint</a>
    <a class="tag" target="_blank">Neural Networks</a>
	<a class="tag" target="_blank">Economics</a>
	<a class="tag" target="_blank">Strategy</a>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>