<h2 class="m0a" data-aos="fade-up">Data Science Portfolio (on Github)</h2>
Here is a list of projects developed over the past years. Some of them were developed in units of my <a href="https://www.monash.edu/study/courses/find-a-course/2021/data-science-c6004">Master of Data Science</a> at Monash University, others in my Udacity Deep Learning <a href="https://www.udacity.com/course/deep-learning-nanodegree--nd101">program</a> and others as side projects. 
<div class="projects">
  {% for item in site.projects %}
  <a href="{{item.github}}" class="nostyle p-3" target="_blank">
    <div class="project borders cards" data-aos="fade-up">
      <div class="project-image" style="background-image: url({{item.image}})"></div>
      <p class="title text-center">{{item.title}}</p>
    </div>
  </a>
  {% endfor %}
</div>