<div class="sidenav">
    <div class="author-container shadow">
	<div class="position-sticky">
     <!--<div class="author"><img src="{{site.data.main.image}}" width="100%" height="auto;" alt="{{site.title}}" onclick="location.href='/'"></div>-->
     <div class="about text-center"><h1 class="title"><a href="/{{site.baseurl}}">{{site.data.main.name}}</a></h1></div>
     <!--<div class="bio text-center"><p class="m0">{{site.data.main.profession}}</p></div>-->
     <hr class="dashed">
     <div class="social text-center">
	 </div>
     </div>
     </div>
</div>